# File ini dibuat secara otomatis oleh script uploader.py

.git
.github
.venv
scripts
ai_models
data/plan
data/license.seal
libs
libs.zip
python
vendor
backup.py
tes_mic.py
__pycache__
